body {
    background-color: #f1f1f1;
}

/*HEADER*/
#header {
    border-top: 5px solid #fa6900;
    padding-top: 40px;
    padding-bottom: 120px;
    background-color: #69d2e7;
    color: #ffffff !important;
}

#header div {

}

#header h1 {
    font-size: 4rem;
}

#header h6 {
    font-size: 2.5rem;
}

#logo {
    height: auto;
    width: 100%;
    vertical-align: center;
}

#menu-open {
    display: none;
    position: relative;
    right: 350px;
}

#menu-open a {
    padding-left: 10px;
    color: #ffffff;
}

.hello-text {
    padding-top: 50px;
    text-transform: uppercase;
}

/*HEADER*/

/*ABOUTAS*/

#about {
    background-color: white;
    margin-top: -80px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

#about p {
    text-align: left;
}

/*ABOUTAS*/

/*ABOUTUS2*/

#about-2 {
    display: flex;
    padding-top: 65px;
    font-weight: bolder;
    padding-bottom: 65px;
}

#about-2 img {
    height: auto;
    width: 50%;

}

#about-2 p {
    padding-top: 1.5rem;

}

/*ABOUTUS2*/

/*SLIDER*/
#slider {
    padding-top: 50px;
    background-color: #fa6900;
    color: white;
    padding-bottom: 10px;
}

#img-slider {
    display: flex;
    justify-content: center;
}

#img-slider img {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#navi-sli {
    display: flex;
    justify-content: center;
    top: -10rem;
    z-index: 3;
}

.left-photo,
.right-photo {
    opacity: 0.5;
    z-index: 1;
}

.center-photo {
    margin-left: -20rem;
    margin-right: -20rem;
    z-index: 2;
}

.prev,
.next {
}

.imghidden {
    display: none;
}

/*SLIDER*/

/*personal*/

#personal {
    padding-top: 50px;
    padding-bottom: 50px;
}

.photo-slider {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 10px;
    background-color: #b9bbbe;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.dot:active,
.dot:hover {
background-color:#69d2e7;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: 0.4
    }
    to {
        opacity: 1
    }
}

/*personal*/

/*services*/
#services {
    padding: 50px;
    background-image: url("../image/services.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#services h1 {
    font-size: 2rem;
}

#services h2 {
    font-size: 1.5rem;
}

#services p {

}

/*services*/

/*contacts*/
#contacts {
padding: 50px;
}

.logo img {
    padding-top: 10px;
}

.rect {
    display: block!important;
height: 100%;
    width: 100%;
}

.social {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}

.facebook {
    display: flex;
    height: 38px;
    width: 38px;
    background-image: url("../image/social.png");
}

.twitter {
    display: flex;
    height: 38px;
    width: 38px;
    background-image: url("../image/social.png");
    background-position: -37px 0;
}

.pinterest {
    display: flex;
    height: 38px;
    width: 38px;
    background-image: url("../image/social.png");
    background-position: -74px 0;
}

.instagram {
    display: flex;
    height: 38px;
    width: 38px;
    background-image: url("../image/social.png");
    background-position: 38px 0;
}

.img-post {
    display: block;
    height: 93px;
    width: 93px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;

}

#contacts h2 {
    font-size: 1rem;
}

#lat-post h1 {
    padding-bottom: 30px;
}

#lat-post h2 {
    padding-bottom: 5px;
}

#lat-post .container {
}

/*contacts*/

/*FOOTER*/
#footer {
    background-color: #69d2e7;
    height: 68px;
}

#footer span {
    color: #ffffff;
}

/*FOOTER END*/